@import "../node_modules/bootstrap/scss/bootstrap";

$breakpoint1:1200px;
$breakpoint2:1023px;
$breakpoint3:767px;
$breakpoint4:480px;
@media (max-width: $breakpoint1) {

}


@media (max-width: $breakpoint2) {
  .moviecont{
     
     

      .img{
          
      }
  }
}
@media (max-width: $breakpoint3) {
  .moviecont{
       background: rgb(17, 0, 255);
     

      .img{
          
      }
  }
}
@media (max-width: $breakpoint4) {
    .moviecont{
      background: rgb(223, 219, 16);
      width:109.3%;
          padding-right: 5px;
    padding-left: 5.5px;
   overflow-x: hidden;
    margin-left:-0.6%;
    

      .img{
         
          margin-top:3.5px;
          width:100% !important;
          overflow-x: hidden;
      }
  }
  }

@media (max-width: 177px) {
    
    .moviecont{
      background: rgb(117, 121, 67);
      width:220%;
          padding-right: 5px;
    padding-left: 5px;
    margin-left:-11.5%;
    

      .img{
         
          
          width:550% !important;
      }
  }
}