@import "~bootstrap/scss/bootstrap";
@import "./Components/movieData";
@import "./Components/Custom.scss";

*{
padding:0;
margin:0;
box-sizing: border-box;


}
body{margin:0}


.App {
  text-align: center;
  margin-top: 10px;
}









